* {
    margin: 0;
    padding: 0;
}

header {
    /* background-color: rgb(231, 229, 226); */
    /* background-color: #10044a; */
    background-color: gray;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;

}

nav ul li a {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(34, 34, 34);
    font-size: 16px;
    transition: .7s;
}

#home {
    width: 100%;
    height: 95vh;
    /* background-color: #10044a; */
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

#home::before {
    height: 95vh;
    width: 100%;
    content: '';
    position: absolute;
    opacity: .9;
    z-index: -1;
    background-image: url('https://wallpaperaccess.com/full/4225693.jpg');
    background-position: top right;
}

.nameSec {
    /* border: 1px solid white; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 25px;
    padding: 25px;
}

.nameSec .name {
    font-size: 100px;
    color: rgb(239, 236, 236);
}

.nameSec .roll {
    font-size: 45px;
    color: rgb(239, 236, 236);
}

.propic img {
    width: 100%;
    height: auto;
    border-radius: 50px;

}

#about {
    padding: 30px;
    display: flex;
    background-image: linear-gradient(to right, rgb(221, 221, 221), rgb(208, 207, 207));

}

#about .leftSec {
    display: flex;
    flex-direction: column;
    /* border: 2px solid gray; */
    padding: 50px;
    width: 25%;
}

.leftSec img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px ridge;
}

.leftSec h1 {
    font-size: 45px;
    margin: 20px 0;
}

.leftSec p {
    text-align: justify;
    font-size: 20px;
}

.heading {
    text-align: center;
    margin: 40px 0;
    font-size: 45px;
}

#about .rightSec {
    text-align: center;
    background-color: palevioletred;
    color: aliceblue;
    width: 75%;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 25px;
}

.rightSec p {
    font-size: 20px;
    text-align: justify;
    margin: 25px 0;
}

#career {
    display: flex;
    flex-direction: column;
}

#career .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.photos img {
    width: 32%;
    height: auto;
    opacity: .8;
    margin: 10px 0;
    transition: .7s;
}

#career .bottomSec {
    width: 100%;
    text-align: center;
    padding: 50px;
    margin: 20px 0;
    position: relative;
    color: white;
    background-image: linear-gradient(to right, rgb(201, 201, 201), rgb(156, 155, 155));
}


.bottomSec h2 {
    font-size: 45px;
}

.bottomSec h1 {
    font-size: 25px;
    margin: 20px 0;
}

.bottomSec p {
    font-size: 15px;
    margin: 10px 0;

}

.box {
    width: 60%;
    padding: 25px;
    margin: 40px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    left: 70px;
    background-color: palevioletred;

}

.box2 {
    width: 60%;
    padding: 25px;
    margin: 40px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    right: -25%;
    background-color: palevioletred;
}

#award {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.awarded {
    width: 100%;
    display: flex;
    text-align: center;
}

#award h1 {
    font-size: 45px;
}

.awarded p {
    font-size: 25px;
    margin: 30px 0;
    margin: 0 20px;
}

.awardCont {
    display: flex;
    align-items: center;
}

.awarded img {
    width: 40%;
    height: auto;
    margin: 30px;
    border-radius: 50px;
}




input,
textarea {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    text-align: center;
    resize: none;
    border-radius: 10px;
    border: 3px ridge;
    outline: navy;
}

input {
    height: 30px;

}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    color: rgb(50, 50, 50);
    line-height: 45px;
}

#contact h1 {
    font-size: 45px;
    margin: 30px 0;
}

footer {
    display: flex;
    background-image: linear-gradient(to right, rgb(25, 25, 25), black);
    color: aliceblue;
    justify-content: space-around;
    width: 100%;
    padding: 30px 0;
}

.foot {
    display: flex;
    flex-direction: column;
}

.foot-img {
    margin: 10px 0;
    transition: .8s;
}

.foot p {
    transition: .5s;
    cursor: pointer;
}

.foot a {
    text-decoration: none;
    color: aliceblue;
}




.foot p:hover {

    text-decoration: underline;
}

.foot a:hover {
    text-decoration: underline;
}

nav ul li a:hover {
    background-color: aliceblue;
    color: rgb(26, 26, 26);
}

.photos img:hover {
    width: 35%;
    opacity: 1;
    height: auto;
    transform: scale(1.4);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


@media screen and (max-width: 600px) {

    nav ul li a {

        padding: 10px 15px;

    }

    #home {
        display: flex;
        width: 100%;
        align-items: end;
        justify-content: center;
    }

    #home::before {
        height: 100vh;
        width: 100%;
        background-position: top center;
    }

    .nameSec {
        border-radius: 10px;
    }

    .nameSec .name {
        font-size: 40px;
        color: rgb(30, 29, 29);
    }

    .nameSec .roll {
        font-size: 25px;
        color: rgb(30, 29, 29);
    }

    #about .leftSec {
        display: flex;
        flex-direction: column;
        /* border: 2px solid gray; */
        padding: 10px;
        width: 100%;
    }

    .leftSec img {
        width: 60%;
        display: block;
        margin: auto;
    }

    .leftSec h1 {
        font-size: 35px;
        margin: 20px 0;
    }

    .leftSec p {
        text-align: justify;
        font-size: 15px;
    }

    #about {
        display: flex;
        flex-direction: column;
    }

    #about .rightSec {
        width: 100%;
        padding: 10px;
        margin: 0 0px;
        margin-top: 20px;
    }

    .rightSec p {
        font-size: 15px;
        margin: 15px 0;
    }

    #career .bottomSec {
        padding: 20px;
        margin: 10px 0;
    }


    .bottomSec h2 {
        font-size: 35px;
    }

    .bottomSec h1 {
        font-size: 20px;
    }

    .box {
        width: 90%;
        padding: 10px;
        margin: 15px 10px;
        left: 0px;
    }

    .box2 {
        width: 90%;
        padding: 10px;
        margin: 15px 10px;
        right: 0;
    }

    .awarded {
        flex-direction: column;
    }

    #award h1 {
        font-size: 30px;
        margin: 35px 0;
    }

    .awarded p {
        font-size: 20px;
        margin: 35px 0;

    }

    .awarded img {
        width: 70%;
        display: block;
        margin: auto;
    }

    input,
    textarea {
        width: 90%;
    }

    #contact h1 {
        font-size: 30px;
    }

    footer {
        flex-direction: column;
        gap: 25px;
        padding: 30px 30px;
    }

}